/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Unbounded:wght@200..900&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  /* 
         Change favorite color:

         Default (Purple): hsl(255, 60%, 64%)
         Blue: hsl(220, 60%, 64%) - Pink: hsl(300, 60%, 64%)
         Green: hsl(110, 60%, 64%) - Cyan: hsl(180, 60%, 64%)
         Orange: hsl(15, 60%, 64%) - Red: hsl(358, 60%, 64%)

         For more colors visit: https://htmlcolorcodes.com/
         -> Choose any color 
         -> Copy the color mode (HSL)
  */
  --hue: 255;
  --first-color: hsl(var(--hue), 60%, 64%);
  --first-color-alt: hsl(var(--hue), 80%, 56%);
  --first-color-alt-2: hsl(var(--hue), 60%, 56%);
  --first-color-light: hsl(var(--hue), 60%, 74%);
  --title-color: hsl(240, 8%, 95%);
  --text-color: hsl(240, 8%, 70%);
  --text-color-light: hsl(240, 8%, 50%);
  --body-color: hsl(240, 100%, 2%);
  --container-color: hsl(240, 8%, 6%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Montserrat", sans-serif;
  --second-font: "Unbounded", sans-serif;
  --biggest-font-size: 2rem;
  --bigger-font-size: 1.75rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
  :root {
    --biggest-font-size: 3rem;
    --bigger-font-size: 2rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

button {
  outline: none;
  border: none;
}

h1, h2, h3, h4 {
  color: var(--title-color);
  font-family: var(--second-font);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 1rem;
}

.section__title {
  text-align: center;
  font-size: var(--h1-font-size);
  margin-bottom: 3rem;
}

.section__title span {
  color: var(--first-color);
}

.main {
  overflow: hidden;
}

/*=============== BLOB ===============*/
/* Blob animate */


/* Blob */


/*=============== CUSTOM CURSOR ===============*/


/* Hide the custom cursor */


/*=============== HEADER & NAV ===============*/


/* Active link */


/*=============== HOME ===============*/


/*=============== BUTTON ===============*/


/*=============== ABOUT ===============*/


/*=============== PROJECTS ===============*/


/* Swiper class */


/*=============== WORK ===============*/


/* Show & hide sections */


/* Active tab */


/*=============== SERVICES ===============*/


/* Hide services info */


/* Rotate icon */


/*=============== TESTIMONIALS ===============*/


/* Infinite scroll animation */


/*=============== CONTACT ===============*/


/*=============== FOOTER ===============*/


/*=============== SCROLL BAR ===============*/


/*=============== BREAKPOINTS ===============*/
/* For small devices */


/* For medium devices */


/* For large devices */


/* For 2K resolutions (2048 x 1152, 2048 x 1536) */


/* Custom cursor is hidden for mobile devices */
